@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondaryText: #a1a1aa;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-shine: shine 3s linear infinite;

  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}

.shine-button {
  padding-inline: 12px;
  padding-block: 8px;
  background-image: linear-gradient(
    -60deg,
    transparent,
    transparent,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent,
    transparent,
    transparent
  );
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.main-container {
  @apply md:min-w-2xl max-w-2xl mx-auto px-5;
}
